//========================================================================================================================================================
.page {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image-block {
    }

    &__image {
    }

    &__text {
    }
}
